/* Reset básico para CSS */

/* Box sizing */
html {
  box-sizing: border-box;
  background-color: #f3f3f3;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Lists */
ol,
ul {
  list-style: none;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Forms */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Reset de estilos para todos os inputs */
input {
  box-sizing: border-box; /* Faz com que a largura e altura do input incluam a borda e o preenchimento */
  font-family: inherit; /* Usa a mesma fonte definida no elemento pai */
  font-size: inherit; /* Usa o mesmo tamanho de fonte definido no elemento pai */
  padding: 0; /* Define um preenchimento interno para o input */
  outline: none; /* Remove a borda de foco padrão */
  border: none;
}

/* Reset de estilos para todos os botões */
button {
  appearance: none; /* Remove os estilos padrão do sistema */
  background-color: transparent; /* Remove o fundo */
  border: none; /* Remove a borda */
  margin: 0; /* Remove a margem */
  padding: 0; /* Remove o preenchimento */
  font: inherit; /* Usa a mesma fonte definida no elemento pai */
  color: inherit; /* Usa a mesma cor de texto definida no elemento pai */
  cursor: pointer; /* Define o cursor como apontador */
}

/* Adicione estilos adicionais conforme necessário para outros tipos de botões */

/* Adicione estilos adicionais conforme necessário para outros tipos de inputs */

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1000px 1fr 1fr;
  grid-template-rows: 100px 3fr 1fr 2fr 3fr 100px;
}

.background {
  height: 500px;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}
